.list-item-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include sm {
    gap: 10px;
  }
  .list-item {
    display: flex;
    gap: 15px;
    flex-wrap: nowrap;
    align-items: center;

    .icon {
      font-size: 18px;
      color: $primary-color;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      border-radius: 50%;
    }
    .text {
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
      margin-bottom: 0;
      color: $gray-900;
    }
    &.style-two {
      gap: 10px;
      .icon {
        font-size: 8px;
      }
    }
  }
}
