.about-info-card {
  &.style-1 {
    .about-info-content {
      .sec-content {
        .desc {
          margin-bottom: 0;
          margin-top: 20px;
        }
      }
    }
  }

  &.style-2 {
    .about-info-content {
      display: flex;
      flex-direction: column;
      gap: 30px;
      @include lg {
        gap: 0;
      }
      .section-title {
        gap: 0;

        .short-title {
          margin-bottom: 10px;
        }
        .title {
          margin-bottom: 20px;
        }
        .desc {
          margin-bottom: 0;
        }
      }
      .about-list-wrapper {
        display: flex;
        justify-content: space-between;
      }
      .contact-area {
        display: flex;
        gap: 30px;
        margin-top: 10px;
        .contact {
          display: flex;
          align-items: center;
          gap: 10px;
          .icon {
            width: 40px;
            height: 40px;
            border-radius: 50px;
            background-color: $primary-color;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid $gray-100;
            i {
              color: $white;
            }
          }
          .text-area {
            p {
              margin-bottom: 0;
            }
            .text {
              margin-bottom: 4px;
              color: $gray-800;
              font-size: 16px;
              font-weight: 400;
              line-height: 26px;
            }
            .phone {
              font-size: 18px;
              font-weight: 500;
              line-height: 22px;
              color: $gray-900;
            }
          }
        }
      }
    }
  }
}
